.guides-container {
  display: flex;
  height: calc(100vh - 71px);
}

.guides-container__navigation {
  background-color: #333;
  color: #fff;
  flex: 0 0 20%;
  padding: 2rem;
}

.guides-container__main {
  flex: 1;
  overflow: hidden;
}
