@import './inc/vars';
@import './inc/color';
@import './inc/type';
@import './inc/base';
@import './inc/include-media';

body {
  background-color: var(--theme-surface);
  // background-image: url('../images/bg-illustration.svg');
  // background-position: bottom left;
  // background-size: 100%;
  // background-repeat: no-repeat;
  color: var(--theme-text-color);
  margin: 0;
  min-height: 100vh;
  padding: 0;
}

a {
  color: var(--color-blue);
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  @media (hover: hover) {
    &:hover {
      color: var(--color-blue-dark);
    }
  }
  &:active {
    color: var(--color-blue-darker);
  }
}

p {
  max-width: 750px;
}

hr {
  border: none;
  border-top: thin solid var(--theme-border);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.home {
  .card-list {
    margin: 1rem 0;
  }
}

.document {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.section {
  padding: 4rem 0;
}

.card-list {
  display: grid;
  gap: 2rem;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr;
  list-style: none;
  margin: 0;
  padding: 0;
  @include media('>medium') {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.card {
  background-color: var(--theme-overlay-light);
  border-radius: var(--border-radius);
  color: var(--theme-text-color);
  display: flex;
  flex-direction: column;
  height: 100%;
  text-decoration: none;
  transition: transform 0.2s ease-in-out;

  .card__image {
    align-items: center;
    display: flex;
    justify-content: center;
    img {
      height: auto;
      max-width: 100%;
    }
  }

  .card__content {
    flex: 1;
    padding: 1.2rem;
  }

  .card__meta {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 1.2rem;
    width: auto;
  }

  .description {
    flex: 1;
  }

  .difficulty__label {
    font-size: 1.3rem;
    font-weight: 500;
    margin-right: var(--icon-margin);
  }
  .difficulty__value {
    font-size: 1.3rem;
    font-weight: 700;
    &--easy {
      color: var(--color-green-dark);
    }
    &--intermediate {
      color: var(--color-blue);
    }
    &--expert {
      color: var(--color-purple);
    }
  }

  @media (hover: hover) {
    &:hover {
      // background-color: var(--color-blue);
      box-shadow: var(--box-shadow);
      color: var(--theme-text-color);
      // color: rgba(255, 255, 255, .9);
      // transform: scale(1.02);
    }
  }

}


.container.guides {
  .card-list {
    padding: 4rem 0;
  }
}
