@import './inc/vars';
@import './inc/color';
@import './inc/type';
@import './inc/base';

body {
  background-color: var(--theme-surface);
  color: var(--theme-text-color);
  margin: 0;
  padding: 0;
}

a {
  color: var(--color-blue);
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  @media (hover: hover) {
    &:hover {
      color: var(--color-blue-dark);
    }
  }
  &:active {
    color: var(--color-blue-darker);
  }
}

hr {
  border: none;
  border-top: thin solid var(--theme-border);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
