.footer {
  background-image: url('../../images/bg-illustration.svg');
  background-position: bottom left;
  background-size: 1678px 518px;
  background-repeat: no-repeat;
  color: var(--color-gray-30);
  min-height: 518px;
  padding: 0 4rem 0;
  position: relative;
  width: 100%;

  p {
    font-size: 1.3rem;
    line-height: 1.8rem;
    margin: 0;
    padding: .5rem 0;
  }

  a {
    color: var(--color-gray-40);
    @media (hover: hover) {
      &:hover {
        color: var(--color-gray-50);
      }
    }
  }

}

.footer__copyright {
  background-color: var(--theme-overflow);
  border: thin solid var(--theme-border);
  border-radius: var(--border-radius);
  bottom: 2rem;
  font-size: 1.3rem;
  padding: 0 1rem;
  position: absolute;
}
