@import '../styles/inc/include-media';

.guides-container {
  display: flex;
  flex: 1 0 100%;
  flex-direction: column;
  max-width: 2024px;
  padding: 0 var(--container-padding);
  width: 100%;

  @include media('>large') {
    flex-direction: row;
  }

}

.guides-container__navigation {
  order: 2;
  margin: 4rem;
  @include media('>large') {
    flex: 0 0 15%;
    max-width: 400px;
    order: 1;
  }
}

.guides-container__nav-block {
  border-radius: var(--border-radius);
  position: sticky;
  top: 35px;

  h3 {
    a {
      color: var(--theme-header-color);
      text-decoration: none;
    }
  }

}

.guides-container__main {
  display: flex;
  flex: 1;
  justify-content: space-between;
  margin: 4rem;
  order: 1;
  @include media('>large') {
    margin: 0;
    order: 2;
  }
}
